.root {
    -fx-background-color: black;
}

.background {
    -fx-background-color: black;
}

.label {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
}

/*padding: top right bottom left*/
.button {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 10;
    -fx-padding: 4 8 8 8;
    -fx-border-width: 2;
}

.button:hover {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 4 8 8 8;
    -fx-border-width: 2;
}

.button:armed {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.85;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 4 8 8 8;
    -fx-border-width: 2;
}

#buttonSearch {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 10;
    -fx-padding: 8 16 16 16;
    -fx-border-width: 3;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 1 2 2 6;
}

#fieldPlayer {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 1 2 2 6;
}

.text-field:focused {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 1 2 2 6;
}

#FieldSearch {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-padding: 2 4 4 8;
}

#FieldSearch:focused {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-padding: 2 4 4 8;
}

#Title {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.85;
}

#Title-big {
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
    -fx-opacity: 0.85;
}

#Description {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

#MainContainer {
    -fx-border-color: rgb(230, 230, 230) transparent transparent transparent;
    -fx-border-width: 2pt;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 120px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;

}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}


.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: rgb(160, 160, 160);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.alert.confirmation.dialog-pane{
    -fx-background-color: black;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
}

*.dialog-pane {
    -fx-background-color: black;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;

}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;
    -fx-font-size: 15.0px;
}

.dialog-pane .header-panel {
    -fx-background-color: black;
}

.dialog-pane .header-panel .label {
    -fx-background-color: transparent;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.75;

}


.scroll-pane {
    -fx-background-color: black;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0; /* Set the node in the button to be visible */
}

.date-picker > .arrow-button {
    /*-fx-background-image: url("/icons/calendar.png"); !* Url of the icon *!*/
    -fx-background-size: 60% 60%; /* Can be `cover` or `100% 100%` ect. */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; /* Put the icon in the center */
}


.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(160, 160, 160);
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {

    -fx-pref-height: 5;
    -fx-pref-width: 5;
    -fx-background-insets: 5;
}